@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');
// styles/_variables.scss
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$primary-blue: #3b82f6;
$border-color: #E2E8F0;
$dark-bg: #1E293B;
$green: #16A34A;
$avatar-bg: #334155;